#Header{
    text-align: center;
    font-size: x-large;
    background-color: gold;
    padding: 15px;
    position: relative;
    top: -20px
}
.fade-in-text {
    animation: fadeIn 5s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.circle {
    border-radius: 50%;
    width: 350px;
    height: 350px;
}
/*img{*/
/*    width: 250px;*/
/*    height: 250px;*/
/*}*/
#circles{
}
.container{
    display: flex;
    justify-content: space-between;
}
.caption{
    display: flex;
}
#GT3{
    display: flex;
    background-image: url(../IMGs/gt3-rs.jpg);
    background-position: 50% 50%;
    background-size: cover;
}
#microSoft{
    display: inline-block;
    background-image: url(../IMGs/microsoft.png);
    background-position: 50% 50%;
    background-size: cover;
}
#myBankAccount{
    display: inline-block;
    background-image: url(../IMGs/myBankAccount.png);
    background-position: 50% 50%;
    background-size: cover;
}
#house{
    display: inline-block;
    background-image: url(../IMGs/myHouse.webp);
    background-position: 50% 50%;
    background-size: cover;
}
#houseInBrasil{
    display: inline-block;
    background-image: url(../IMGs/myhouseinBrasil.jpeg);
    background-position: 50% 50%;
    background-size: cover;
}
