#heading{
    font-family: "Bodoni 72";
}
h2 {
    margin-bottom: 0;
    color: dodgerblue;
    text-decoration: underline;

}
/*@media print {*/
/*    body {*/
/*        width: 8.25in;*/
/*        height: 11.75in;*/
/*        margin: 0 0 0 0;*/
/*    }*/
/*}*/
.page {
    width: 100%;
    max-width: 1100px;
    min-height: 43.2cm;
    padding: 2cm;
    display: flex;
}

@page {
    size: ledger portrait;
    margin: 2cm;
}
aside{
    max-width: 30%;
    margin-left: 25px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.jobs-title{
    margin-top: 1px;
    margin-bottom: 0;
    font-weight: lighter;
}
.duties {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}
main {
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgb(0 0 0 / 25%);
    margin: 2rem auto;
    padding: 2.75rem;
    position: relative;
}
/*jobs-one {*/
/*    display: block;*/
/*    font-size: 1.17em;*/
/*    margin-block-start: 1em;*/
/*    margin-block-end: 1em;*/
/*    margin-inline-start: 0px;*/
/*    margin-inline-end: 0px;*/
/*    font-weight: bold;*/
/*}*/
ul{
    margin-top: .05em;
    font-weight: lighter;
}
.jobs{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0;
    font-weight: bold;
}
.jobs-date{
    font-weight: 400;
    font-size: smaller;
}
.show-mobile{
    display: none;
}
.noIdentifier{
    list-style: none;
    text-indent: -2em;
    font-size: large;
}
@media screen and (max-width: 1000px){
    .page{
        flex-direction: column;
    }
    aside{
        max-width: 100%;
    }
    .hide-mobile{
        display: none;
    }
    .show-mobile{
        display: flex;
    }
}
@media screen and (max-width: 600px){
    .mini{
        flex-direction: column;
    }
}
@media print{
    main {
        background: transparent;
        box-shadow: none;
    }
    @page {
        size: auto;
        margin: 0;
    }
    .printLink {
        display: none;
    }

    a:link {
        text-decoration: none;
        color: black;
    }

    a:visited {
        text-decoration: none;
        color: black;
    }

    a:hover {
        text-decoration: none;
        color: black;
    }

    a:active {
        text-decoration: none;
        color: black;
    }

}
