body {
    font-family: Roboto;
    background: dimgrey;
    display: grid;
    place-items: center;
    overflow: hidden;
}
h1, h2, h3 {
    padding: 0;
    margin: 0;
    text-align: center;
}
h3 {
    color: grey;
}
hr {
    border-top: 1px solid whitesmoke;
    width: 90px;
}
.main {
    display: flex;
    max-width: 80%;
    position: relative;
    margin: auto;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    /*width: 100%; !* Full width *!*/
    /*height: 100%; !* Full height *!*/
    /*overflow: auto; !* Enable scroll if needed *!*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*---------------------MODAL---------------------------------*/
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* MAKES BUTTON ON CARDS LOOK LIKE A LINK */
.myBtn{
    background: none;
    border: none;
    text-decoration: underline;
    color: blue
}
/* SETS LOOK OF CARDS */
.cards {
    margin-left: 1rem;
    border-radius: 2px;
    background: white;
    width: 500px;
    height: 450px;
    /* the following declarations make the card a flex container and justify and align its flex items */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 4px 4px 15px 2px;
    rgba(black, 0.75);
    transition: 0.2s;
}
.cards:hover {

}
.cards:hover {
    transform: translateZ(-2rem);
}
.cards:hover {
    transform: translateX(1rem);
}
/*.cards:hover ~.cards {*/
/*    filter: blur(4px);*/
/*    }*/


/*.cards{*/
/*    display: none;*/
/*}*/
img {
    border-radius: 10px;
    width: 120px;
}
i {
    color: grey;
}
.icons {
    /* the following declarations control the spacing between the social media icons */
    width: 160px;
    display: flex;
    justify-content: space-evenly;
}
.text-section {
    bottom: 1.5em;
}
.icons i {
    font-size: 2.2em;
}


